<div id="about">
  <div>
    <h2>About</h2>
    <p>(add paragraph here)</p>
  </div>
  <div>
    <h3>Languages</h3>
  </div>
</div>

<style lang="scss">
  #about {
    display: flex;
    // change the width later
    min-height: 50vh;
    margin-top: 2rem;
    gap: 4rem;
    > div {
      flex: 1;
    }
  }

  h2 {
    margin-bottom: 1rem;
  }
</style>