<div id="hero">
  <h2>Hello, I'm Mindy Situ</h2>
  <h2>I am a full stack web developer</h2>
  <a href="#about" class="scroll-button">
    About me ↓
  </a>
</div>

<style lang="scss">
  h2 {
    font-size: 2rem;
  }

  #hero {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.25rem;
  }
</style>