---
import ProjectPanel from "../ui/ProjectPanel.astro";
import ElectronImage from "@/assets/images/electron.png";
---

<div id="projects">
  <h2>Projects</h2>
  <div>
    <ProjectPanel title="test" image={ElectronImage}>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
      incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu 
      fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, 
      sunt in culpa qui officia deserunt mollit anim id est laborum.
    </ProjectPanel>
  </div>
</div>

<style lang="scss">

</style>