---
import ProjectPanel from "../ui/ProjectPanel.astro";
import electronImage from "@/assets/images/electron.png";
import discordLogo from "@/assets/images/discord-logo.png";
---

<div id="projects">
  <h2>Projects</h2>
  <div class="project-panels">
    <ProjectPanel title="AI Chat Interface" image={electronImage}>
      This is a project that I made with Vue for the frontend, 
      and Electron for the backend. This app provides a user interface for 
      chatting with an AI model through a ChatGPT API key. 
      There are some features, 
      like being able to properly format and parse code blocks and LaTeX, 
      ability to change models, and storing all chats. 
      It also uses SQLite to store chats locally, 
      allowing conversations to be stored efficiently.
    </ProjectPanel>
    <ProjectPanel title="Discord Bots" image={discordLogo}>
      I have also created several discord bots, having used both discord.js 
      and discord.py. Most of the bots are now created with discord.js and TypeScript. 
      One of them is a discord bot that shows game statistics on Discord, 
      and it's still running today with people actively using it. 
      This discord bot was made with TypeScript, 
      and was made with Express for the backend. 
    </ProjectPanel>
  </div>
</div>

<style lang="scss">
  .project-panels {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
</style>