---
import { Image } from "astro:assets";

const { title, image } = Astro.props;
---

<div class="project-panel border">
  <Image src={image} alt="project showcase" />
  <div class="info">
    <p class="project-title">{title}</p>
    <p class="project-description">
      <slot />
    </p>
  </div>
</div>

<style lang="scss">
  img {
    width: 24rem;
    height: auto;
    object-fit: contain;
    flex-shrink: 0;
  }

  .project-panel {
    min-width: 80%;
    display: flex;
    gap: 2rem;
    padding: 2rem;
    box-shadow: 2px 2px 8px $border-colour;
    border-radius: 8px;
    
    .info {
      flex: 1;

      .project-title {
        text-align: center;
        font-size: 1.25rem;
        font-weight: 700;
        margin-bottom: 0.5rem;
      }
    }
  }
</style>